@font-face {
  font-family: 'WooriGulim';
  font-style: normal;
  font-weight: normal;
  src: url('http://cdnsrc.typolink.co.kr/g/8fdb5ac09167447d51ece07ee5489ceeef6f1a1e.eot');
  src: url('http://cdnsrc.typolink.co.kr/g/8fdb5ac09167447d51ece07ee5489ceeef6f1a1e.eot?#iefix') format('embedded-opentype'), url('http://cdnsrc.typolink.co.kr/g/8fdb5ac09167447d51ece07ee5489ceeef6f1a1e.woff') format('woff'), url('http://cdnsrc.typolink.co.kr/g/8fdb5ac09167447d51ece07ee5489ceeef6f1a1e.ttf') format('truetype');
}

